libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
Well-Done_Welding/library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Well-Done_Welding/Assets/Fonts/DNFBitBitv2/DNFBitBitv2[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
